<body>

  <form action="/search" method="get">
    <label for="search-bar"></label>
    <input type="text" id="search-bar" name="q" placeholder="Winaries near me">
    <button type="submit">Search</button>

    <div class="logo-container">
      <img src="assets/wineryLogo.png">
    </div>

    <div class="card-row" *ngFor="let winery of wineries; let i = index">

      <div class="card">
        <img [src]="wineries[i].image_path" alt="{{ wineries[i].international_name }}">
      </div>


      <div class="card" *ngIf="wineries[i+1].name != null ">
        <img [src]="wineries[i+1].image_path" alt="{{ wineries[i+1].international_name }}">
      </div>

    </div>

  </form>




  

</body>
