<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    #m_map {
      width: 100%;
      height: 400px
    }

    .button {
    }

    .search-bar {
    }

    .m_menu {
    }
  </style>
</head>
<body>
 

  <footer class="navbar">

    <a routerLink="wineries" class="nav-item">
      <img src="assets/wineriesListAll.png" alt="Wineries">
    </a>

    <a routerLink="" class="nav-item">
      <img src="assets/wineryTours.png" alt="Tours">
    </a>

    <a routerLink="" class="nav-item">
      <img src="assets/wineryFest.png" alt="WineFest">
    </a>

    <a routerLink="" class="nav-item">
      <img src="assets/winery" alt="Favorites">
    </a>

    <a routerLink="" class="nav-item">
      <img src="assets/.png" alt="Profile">
    </a>

    <a routerLink="loginPage" class="nav-item">
      <img src="assets/.png" alt="LogIn">
    </a>

    <a routerLink="singUpPage" class="nav-item">
      <img src="assets/.png" alt="SingUp">
    </a>

  </footer>




  <div>

    <header>
      <div class="top-bar">
        <div class="top-section">
          <div class="logo">
            <img src="assets/wineryLogo.png" alt="Winery Logo">
          </div>



          <div class="search-container">
            <input type="text" id="search-bar">

          </div>
        </div>



        <div class="filter-buttons">
          <a class="filterIcon" routerLink="" >
            <span></span>
            <span></span>
            <span></span>
          </a>
          <button class="button" id="distance-filter">Distance</button>
          <button class="button" id="type-filter">Types of wine</button>
          <button class="button" id="open-filter">Open now</button>
        </div>

      </div>
    </header>

    <div id="map">

      <app-map></app-map>

    </div>
  

  </div>


</body>
</html>
